@model SB.Domain.Entities.Board
@{
    ViewBag.Title = "Scrum Board";
}

<div class="row">
    @foreach (var list in Model.TaskList)
    {
        <div>
            @list.Name
        </div>
    }
</div>